scikit-learn
numpy~=1.20.3
h5py
setproctitle
networkx
psutil
mysql-connector-python
matplotlib
-f https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
scipy
Pillow
validators
wget
zipfile-deflate64
tqdm
schedule
mega.py
apscheduler